################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ITG-vs/bin/Debug/net8.0
/ITG_upgraded/bin/Debug
/ITG_upgraded/obj/Debug
/ITG-vs/obj/Debug/net8.0
/ITG-vs/obj/ITG-vs.csproj.nuget.g.props
/ITG-vs/obj/ITG-vs.csproj.nuget.dgspec.json
/ITG-vs/obj/project.assets.json
/ITG-vs/obj/project.nuget.cache
/ITG_upgraded/obj/ITG_upgraded.csproj.nuget.dgspec.json
/ITG_upgraded/obj/ITG_upgraded.csproj.nuget.g.props
/ITG_upgraded/obj/project.assets.json
*.cs
/Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
/Services/obj/Debug/net8.0/Services.assets.cache
/Services/obj/Debug/net8.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/project.assets.json
/Services/obj/project.nuget.cache
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/Services.csproj.nuget.g.props
