################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ITG-vs/bin/Debug/net8.0
/ITG_upgraded/bin/Debug
/ITG_upgraded/obj/Debug
/ITG-vs/obj/Debug/net8.0
