################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ITG-vs/bin/Debug/net8.0
/ITG_upgraded/bin/Debug
/ITG_upgraded/obj/Debug
/ITG-vs/obj/Debug/net8.0
/Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
/Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
/Services/bin/Debug/net8.0/Services.dll
/Services/bin/Debug/net8.0/Services.pdb
/Services/obj/Debug/net8.0/ref/Services.dll
/Services/obj/Debug/net8.0/refint/Services.dll
/Services/obj/Debug/net8.0/Services.dll
/Services/obj/Debug/net8.0/Services.pdb
/Services/obj/Debug/net8.0/Services.sourcelink.json
/ITG-vs/obj/ITG-vs.csproj.nuget.dgspec.json
/ITG-vs/obj/project.assets.json
/ITG-vs/obj/project.nuget.cache
/ITG-vs/obj/ITG-vs.csproj.nuget.g.props
/Services/obj/Debug/net8.0/Services.assets.cache
/Services/obj/Debug/net8.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/project.assets.json
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/project.nuget.cache
/Services/obj/Services.csproj.nuget.g.props
/Services/obj/Debug/net8.0/Services.csproj.CoreCompileInputs.cache
/Services/obj/Debug/net8.0/Services.csproj.FileListAbsolute.txt
