@page
@model ITG_vs.Pages.EmailModel
@{
}
<div id="content" class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title scroll-target">
                <strong>Send Email, ITG</strong>
            </h4>
        </div>
        <form id="emailForm" class="panelEmail-panel-body-container">
            <div class="panel-body">
                <p>An email containing the timeline generated will be sent to the Office of Grants Management. You will be copied.</p>
                <p><span style="color: Red">*</span>: required field</p>
                <br />
                <span style="color: Red">*</span>
                <label class="control-label" for="txtTitle">RFA/RFP title</label>
                <input required id="txtTitle" class="form-control" type="text" aria-label="Title" tabindex="1" style="width:190px;" />
                <!--   <asp:TextBox ID="txtTitle" class="form-control" aria-label="Title" runat="server" Width="190" TabIndex="1"></asp:TextBox> -->

                <span style="color: Red">*</span>
                <label class="control-label" for="txtName">Your name</label>
                <input required id="txtName" class="form-control" type="text" aria-label="Name" tabindex="2" style="width:190px;" />

                @* <asp:TextBox ID="txtName" class="form-control" runat="server" aria-label="Name" Width="190" TabIndex="2"></asp:TextBox> *@

                <span style="color: Red">*</span>
                <label class="control-label" for="txtEmail">Your email address</label>
                <input required id="txtEmail" class="form-control" type="email" aria-label="Email" tabindex="2" style="width:190px;">

                @* <asp:TextBox ID="txtEmail" class="form-control" runat="server" aria-label="Email" Width="190" TabIndex="3"></asp:TextBox> *@
            </div>
            <div class="clearfix"></div>
            <div class="panel-footer text-right">
                <button id="btnSend" class="btn btn-default" TabIndex="4">Send email</button>&nbsp;&nbsp;&nbsp;
                <input type="button" class="btn btn-default" value="Cancel" onclick="history.go(-1);" tabindex="5" />

            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        async function makePostRequest(url, data) {
            try {
                const response = await fetch(url, {
                    method: 'POST', // Specify the HTTP method as POST
                    headers: { 'Content-Type': 'application/json' }, // Set the content type header
                    body: JSON.stringify(data), // Convert data to JSON string for the body
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const responseData = await response.json(); // Parse the JSON response
                // const responseData = response; // Parse the JSON response
                return responseData; // Return the parsed data
            } catch (error) {
                console.error('Error:', error);
                return null; // Handle errors gracefully (e.g., return null or throw a specific error)
            }
        }

        const url = '/api/email/send';

        document.addEventListener('DOMContentLoaded', function () {
            const emailForm = document.getElementById('emailForm');


            emailForm.addEventListener('submit', (event) => {
                event.preventDefault();
                // Your custom form submission logic here

                const txtTitle = document.getElementById('txtTitle').value;
                const txtName = document.getElementById('txtName').value
                const txtEmail = document.getElementById('txtEmail').value
                const data = { txtTitle : txtTitle, txtName :txtName, txtEmail : txtEmail };

                console.log(data);
                makePostRequest(url, data).then(response => {
                    console.log('Success:', response);
                    if(response == null){
                        alert("Please generate a Timeline.");
                    }
                    alert("email sent!");
                })
                    .catch(error => {
                        console.error('Error:', error);
                        alert(error)
                    });


            });


        });
    </script>
}